.headerStyle {
    /* color: white; */
    text-align: center;
    padding: 20px 20px;
    /* font-weight: bold; */
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    opacity: 0.95;
}

.navigation span{
    font-size: 16px;
    /* margin-left: 20px; */
    color: #dcdcdc;
    margin: 0px 10px 0px 20px;
}
.navigation span:hover {
    color: cyan;
}

a {
    text-decoration: none;
}
.projectLogoAndName {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    /* border: 1px solid red; */
}
.projectLogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
    /* border: 1px solid blue; */
}

.projectTitle {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: auto auto;
    /* border: 1px solid red; */
}


